@import "tailwindcss";

@theme {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);
    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.145 0 0);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.145 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-accent: oklch(0.97 0 0);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-destructive-foreground: oklch(0.577 0.245 27.325);
    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.922 0 0);
    --color-ring: oklch(0.708 0.165 332.251);

    /* Custom Brand Colors */
    --color-brand-50: #FDEFFD;
    --color-brand-75: #FFF5FF;
    --color-brand-100: #FBCFFB;
    --color-brand-200: #FEE7FE;
    --color-brand-500: #C530C5;
    --color-brand-600: #F68DF6;
    --color-brand-800: #561056;
    --color-brand-900: #791A79;


    --color-magenta: #FFFDFF;

    /* Neutral grays */
    --color-gray-600: #616161;
    --color-gray-800: #303030;
    --color-gray-400: #4A4A4A;
    --color-gray-300: #B5B5B5;
    --color-gray-200: #CCCCCC;

    --color-danger: #E51C00;

    --color-icon: #8A8A8A;
    --color-gray-border: #E3E3E3;

    /* Typography */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --text-xxs: 0.75rem;
    --text-28: 1.75rem;
    --line-height-tight: 130%;
    --line-height-relaxed: 140%;

    /* Sidebar Theme Mapping */
    --color-sidebar: var(--color-brand-50);
    --color-sidebar-foreground: var(--color-gray-800);
    --color-sidebar-primary: var(--color-brand-500);
    --color-sidebar-primary-foreground: var(--color-background);
    --color-sidebar-accent: var(--color-magenta);
    --color-sidebar-accent-foreground: var(--color-brand-500);
    --color-sidebar-border: #E0E0E0;
    --color-sidebar-ring: var(--color-brand-500);

    --radius-lg: 0.625rem;
    --radius-md: 0.5rem;
    --radius-sm: 0.25rem;

    --shadow-card: 0px 7px 10px 0px #0000000D;
    --shadow-modal: 0px 4px 2px 0px #3030300A, 0px 16px 32px -4px #3030301A;
    --shadow-switch-thumb: 0px 1.55px 0.52px 0px #0000000F, 0px 1.55px 4.13px 0px #00000026;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-sans antialiased;
    }
}